:root {
  --yellow: #eca620;
  --blue: #1c7dca;
  --background: #dce3ec;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  margin: inherit;
  padding: inherit;
  box-sizing: inherit;
}

.container {
  display: grid;
  grid-template-columns: 235px 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.side-panel {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--blue);
  display: grid;
  grid-template-rows:  50px 25px repeat(6, 45px) 25px repeat(3, 45px);
  border: 1px solid black;
}

.page-item-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  font-size: 1.6rem;
  color: white;
  align-items: center;
  gap: 5px;
}

.dashboard-title {
  font-size: 2.4rem;
}

.dashboard .icon {
  height: 3rem;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  border: 2px solid black;
}

.main {
  grid-area: 2 / 2 / 3 / -1;
  border: 2px solid black;
  background: var(--background);
}

.profile-image {
  border-radius: 50%;
  height: 5rem;
  width: auto;
}

.icon {
  justify-self: center;
  height: 2rem;
  padding: 0 .5rem;
}
